.card-list {
    position: relative;
    width: 80vw;
    margin: auto;
    display: flex;
    height: 100%;
}

.card {
    margin: 2rem auto;
    width: 250px;
    border-radius: 10px;
    transition: all .7s;
    background-color: white;
    height: 100%;
}



.card:hover {
    box-shadow: 1px 1px 3px 3px rgb(182, 182, 182);
    transition: all .3s;
    transform: scale(120%);
}

.card-top {
    width: inherit;
    box-sizing: border-box;
    display: flex;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.card-top-title {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    transition: all 3s;
}

.card-bottom {
    padding: 0.5rem;
}

.card-bottom-title {
    font-size: 20px;
    text-align: center;
    margin: 1rem;
}

.button-big {
    position: absolute;
    left: 2%;
    top: 2%;
    width: 2rem;
    height: 2rem;
    border: none;
    background: transparent;
    color: white;
    border-radius: 3px;
    transition: all .2s;
    font-size: 15px;
}
.button-big:hover {
    background-color: rgba(207, 207, 207, 0.363);
}

.slide {
    transition: all 3s;
    left: 20px;
}

#img {
    transition: all 3s;
}

.zoom {
    transition: all 3s;
}

.white {
    left: -100px;
    top: -40px;
    position: absolute;
    height: 230px;
    width: 19px;
    background-color: rgb(238, 238, 255);
    /* background-color: blue; */
    transform: rotate(45deg);
    filter: blur(5px);
    transition: all .15s;
    pointer-events: none;
}

.white2 {
    left: -150px;
    top: -40px;
    position: absolute;
    height: 230px;
    width: 19px;
    background-color: rgb(238, 238, 255);
    /* background-color: blue; */
    transform: rotate(45deg);
    filter: blur(5px);
    transition: all .15s;
    pointer-events: none;
}

.flash {
    transition: all .15s;
    left: 350px;
}